.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  font-family: "Google Sans", sans-serif;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
}
.header__blob {
  position: absolute;
}
.header .mobile-blob {
  width: 100%;
  max-height: 60%;
  bottom: 0;
}
.header .desktop-blob {
  display: none;
}
.header__picture {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 260px;
  height: auto;
}
.header__content {
  z-index: 1;
  padding: 1em;
  margin-bottom: 20em;
}
.header__title {
  margin-bottom: 0.3em;
}
.header__text {
  margin-bottom: 1.5em;
}
.header__button-box {
  display: flex;
  gap: 0.5em;
}
.header__button {
  color: #000;
  padding: 0.8em 1.6em;
  border-radius: 1.2em;
}
.header .contact-button {
  color: #fff;
  background-color: #FF0000;
  transition: background-color 0.1s;
}
.header .contact-button:hover {
  background-color: #CC0000;
}
.header .program-button {
  background: none;
  border: 1px solid #000;
}
@media (min-width: 572px) {
  .header__title {
    font-size: 3.6rem;
  }
  .header__text {
    font-size: 1.6rem;
  }
  .header__content {
    margin-bottom: 25em;
  }
}
@media (min-width: 992px) {
  .header {
    background: linear-gradient(to bottom, white 50%, red 50%);
    justify-content: flex-start;
  }
  .header__content {
    padding: 2em;
    margin-bottom: 0;
  }
  .header__picture {
    left: auto;
    transform: none;
    max-width: none;
    right: 5%;
    width: 33%;
  }
  .header .program-button {
    color: #000;
    background-color: #fff;
    border: none;
  }
  .header .mobile-blob {
    display: none;
  }
  .header .desktop-blob {
    display: block;
    position: absolute;
    width: 67%;
    max-width: 1300px;
    height: 100%;
    background: rgba(255, 255, 255, 0.331);
    backdrop-filter: blur(67px);
    left: 0;
    top: 0;
    clip-path: ellipse(65% 65% at 20% 50%);
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 4.3rem;
  }
  .header__text {
    font-size: 1.8rem;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgb(157, 157, 157);
  z-index: 1000;
  transform: translateY(-100%);
  transition: transform 0.35s;
}
.nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
.nav__logo {
  width: 75px;
  height: auto;
}
.nav.show {
  transform: translateY(0);
}
.nav__links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  list-style-type: none;
  background-color: #fff;
}
.nav__links li {
  padding: 1em 2em;
}
.nav__links li + li {
  border-top: 1px solid rgb(157, 157, 157);
}
.nav__links.show {
  pointer-events: all;
  opacity: 1;
}
.nav__link {
  position: relative;
  padding: 1em 0;
  color: #000;
}
.nav__link::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 1px;
  transition: transform 0.3s;
  transform: scaleX(0);
  background-color: #000;
}
.nav__link:hover::before {
  transform: scaleX(1);
}
@media (min-width: 768px) {
  .nav .nav__burger {
    display: none;
  }
  .nav .nav__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: static;
    top: auto;
    left: auto;
    opacity: 1;
    pointer-events: all;
  }
  .nav .nav__links li {
    padding: 0 1em;
  }
  .nav .nav__links li + li {
    border: none;
  }
  .nav .nav__link {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */