@use 'colors' as colors;
@use 'components' as components;
@use 'variables' as variables;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.4rem;
	font-family: 'Google Sans', sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// header

.header {
	position: relative;
	display: flex;
	align-items: center;
	height: 100dvh;
	overflow: hidden;

	&__blob {
		position: absolute;
	}

	.mobile-blob {
		width: 100%;
		max-height: 60%;
		bottom: 0;
	}

	.desktop-blob {
		display: none;
	}

	&__picture {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 60%;
		max-width: 260px;
		height: auto;
	}

	&__content {
		z-index: 1;
		padding: 1em;
		margin-bottom: 20em;
	}

	&__title {
		margin-bottom: 0.3em;
	}

	&__text {
		margin-bottom: 1.5em;
	}

	&__button-box {
		display: flex;
		gap: 0.5em;
	}

	&__button {
		display: inline-block;
		padding: variables.$space-2 variables.$space-4;
		border-radius: variables.$space-3;
		transition: background-color 0.2s;
		color: colors.$pure-black;
	}

	.contact-button {
		color: colors.$pure-white;
		background-color: colors.$main-color;

		&:hover {
			background-color: colors.$second-color;
		}
	}

	.program-button {
		background: none;
		border: 1px solid colors.$pure-black;

		&:hover {
			background-color: colors.$light-gray;
		}
	}

	@media (min-width: 572px) {
		&__title {
			font-size: 3.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__content {
			margin-bottom: 25em;
		}
	}

	@media (min-width: 992px) {
		background: linear-gradient(to bottom, white 50%, red 50%);

		&__content {
			padding: 2em;
			margin-bottom: 0;
		}

		&__picture {
			left: auto;
			transform: none;
			max-width: none;
			right: 5%;
			width: 33%;
		}

		.program-button {
			color: colors.$pure-black;
			background-color: colors.$pure-white;
			border: none;
		}

		.mobile-blob {
			display: none;
		}

		.desktop-blob {
			display: block;
			position: absolute;
			width: 67%;
			max-width: 1300px;
			height: 100%;
			background: rgba(255, 255, 255, 0.331);
			backdrop-filter: blur(67px);
			left: 0;
			top: 0;
			clip-path: ellipse(65% 65% at 20% 50%);
		}
	}

	@media (min-width: 1200px) {
		&__title {
			font-size: 4.3rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: colors.$pure-white;
	border-bottom: 1px solid colors.$gray;
	z-index: 1000;
	transform: translateY(-100%);
	transition: transform 0.35s;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em 2em;
	}

	&__logo {
		width: 75px;
		height: auto;
	}

	&.show {
		transform: translateY(0);
	}

	&__links {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		transition: opacity 0.3s;
		pointer-events: none;
		list-style-type: none;
		background-color: #fff;
		border-bottom: 1px solid colors.$gray;

		li {
			padding: 1em 2em;
		}

		li + li {
			border-top: 1px solid colors.$gray;
		}

		&.show {
			pointer-events: all;
			opacity: 1;
		}
	}

	&__link {
		position: relative;
		padding: 1em 0;
		color: colors.$pure-black;

		&::before {
			content: '';
			position: absolute;
			bottom: 12px;
			left: 0;
			width: 100%;
			height: 1px;
			transition: transform 0.3s;
			transform: scaleX(0);
			background-color: colors.$pure-black;
		}

		&:hover::before {
			transform: scaleX(1);
		}
	}

	@media (min-width: 768px) {
		.nav__burger {
			display: none;
		}

		.nav {
			&__links {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				position: static;
				top: auto;
				left: auto;
				opacity: 1;
				pointer-events: all;
				border-bottom: none;

				li {
					padding: 0 1em;
				}

				li + li {
					border: none;
				}
			}

			&__link {
				font-size: 1.5rem;
			}
		}
	}
}

main {
	.program {
		&__cards {
			display: grid;
			grid-template-columns: 1fr;
			gap: 2em;

			@media (min-width: 552px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&__card {
			background-color: colors.$light-gray;
			border-radius: 30px;
			padding: 2em;

			&-number {
				display: block;
				font-size: 3.6rem;
				margin-bottom: 0.2em;
			}

			&-title {
				font-size: 1.6rem;
				margin-bottom: 0.3em;
			}
		}
	}

	.aboutme {
		&__container {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__picture-container {
			position: relative;
		}

		&__blob {
			position: absolute;
			top: 133px;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 300px;
			height: 300px;
			background-color: colors.$main-color;
			border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
			z-index: -1;
		}

		&__img {
			z-index: 1;
			width: 200px;
		}

		&__content {
			margin-top: variables.$space-5;
		}

		&__title {
			font-weight: bold;
			font-size: 1.6rem;
			margin-bottom: variables.$space-1;
		}

		@media (min-width: 968px) {
			&__container {
				display: flex;
				align-items: flex-start;
				flex-direction: row;
				gap: 5em;
			}

			&__picture-container {
				width: 100%;
			}

			&__img {
				width: 350px;
			}

			&__title {
				font-size: 2.4rem;
			}
		}
	}

	.news {
		&__boxes {
			display: flex;
			gap: 2em;
			flex-direction: column;
		}

		&__box {
			border-radius: 30px;
			overflow: hidden;
			background-color: colors.$light-gray;
			width: 100%;

			&-img {
				width: 100%;
				height: 250px;
				background-size: cover;
				object-fit: cover;
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.03);
				}
			}

			&-content {
				padding: 2em;
			}

			&-date {
				margin-bottom: 0.5em;
			}

			&-title {
				margin-bottom: 0.2em;
			}

			&-text {
				margin-bottom: 0.5em;
			}

			a {
				color: rgb(48, 111, 220);

				&:hover {
					text-decoration: underline;
				}
			}
		}

		@media (min-width: 768px) {
			&__boxes {
				flex-direction: row;
			}
		}

		.section-padding {
			padding: 10em 2.4em;
		}
	}

	.newsletter {
		background-color: colors.$light-gray;

		.section-title {
			margin-bottom: 0.5em;
		}

		&__info {
			text-align: center;
		}

		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 1.5em;
			padding-top: variables.$space-4;
		}

		&__input {
			width: 100%;
			padding: variables.$space-2 variables.$space-2;
			border-radius: 30px;
			border: none;
		}

		&__button {
			background-color: colors.$main-color;
			color: colors.$pure-white;
			padding: variables.$space-2 variables.$space-4;
			border-radius: 30px;
			transition: background-color 0.3s;

			&:hover {
				background-color: colors.$second-color;
			}
		}

		@media (min-width: 768px) {
			&__info {
				font-size: 1.6rem;
			}

			&__box {
				flex-direction: row;
			}

			&__input {
				width: 30%;
			}
		}
	}

	.contact {
		background-color: rgb(225, 225, 225);

		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

            &-input {
                width: 100%;
            }
		}

        input, textarea, button {
            margin-top: 1em;
            padding: 1em 1em;
            border-radius: 30px;
            border: none;
        }

        textarea {
            width: 100%;
            min-height: 100px;
        }

        &__button {
            min-width: 130px;
            width: 30%;
            color: colors.$pure-white;
            background-color: colors.$main-color;
            transition: background-color .3s;

            &:hover {
                background-color: colors.$second-color;
            }
        }

        @media (min-width: 768px) {
            &__box {
                flex-direction: row;
                gap: 1em;
            }
        }
	}
}
